name: CI

on:
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  cancel:
    name: "Cancel Previous Runs"
    runs-on: ubuntu-latest
    steps:
      - uses: styfle/cancel-workflow-action@0.12.1
        with:
          all_but_latest: true
          access_token: ${{ github.token }}

  build:
    needs: cancel
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      # uses lean standard action with all default input values
      - uses: leanprover/lean-action@v1.3.0
        with:
          # Do not run linter for now, too many errors
          lint: false

      - name: Build blueprint
        uses: xu-cheng/texlive-action@v3
        with:
          docker_image: ghcr.io/xu-cheng/texlive-full:20231201
          run: |
            apk update
            apk add --update make py3-pip git pkgconfig graphviz graphviz-dev gcc musl-dev
            git config --global --add safe.directory $GITHUB_WORKSPACE
            python3 -m venv env
            source env/bin/activate
            pip install --upgrade pip requests wheel
            pip install pygraphviz --global-option=build_ext --global-option="-L/usr/lib/graphviz/" --global-option="-R/usr/lib/graphviz/"
            pip install leanblueprint
            leanblueprint pdf

      - name: Check blueprint declarations
        run: |
          ~/.elan/bin/lake exe checkdecls blueprint/lean_decls
