name: PR Summary

on:
  pull_request_target:

permissions:
  pull-requests: write
  issues: read

jobs:
  summarize:
    runs-on: ubuntu-latest
    steps:
      - uses: alexanderlhicks/lean-summary-workflow@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          gemini_api_key: ${{ secrets.GEMINI_API_KEY }}
          github_repository: ${{ github.repository }}
          pr_number: ${{ github.event.pull_request.number }}